
@background-card-height: 500px;
@content-card-height: 500px;

body {
    #bg-card {
        width: 100%;
        margin: 0;
        border: 0;
        padding: 0;
        height: @background-card-height;
        background-color: @brand-primary;
    }
    #content-card {
        background-color: white;
        min-height: @content-card-height;
        margin-top: 50px;
        -webkit-box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21);
        box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    }
}
