---
layout: default
---
<div class="container" id="header">
    <div id="header" class="h3">
        <a href="/">
            <img src="/images/logo/header.png" id="logo" alt="logo" /> Turing Mechanic
        </a>
    </div>
</div>
<div class="container" id="main-container">
    <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" id="content-card">
        {{ content }}
    </div>
</div>

<footer class="container" id="footer">
    &copy; {{ site.time | date: '%Y' }} <a href="/">{{ site.name }}</a>. {{ site.copyright }}. [Fork the site on Github](https://github.com/philipithomas/TuringMechanic).</footer>
