---
layout: main 
categories: true
---
<article>
    <header>    
        {% if page.display-title: %}
            <h1 class="literal"><a href="{{ page.url }}">{{ page.display-title }}</a></h1>
        {% else %}
            <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
        {% endif %}
        <div class="subtitle">
          {{ page.date | date: "%e %B %Y" }}
          {% if page.category %}
            in <a href="/posts/{{ page.category }}">{{ page.category }}</a>
          {% endif %}

        </div>
    </header>

    {{ content }}
</article>
