---
layout: main 
categories: true
---
<article>
    <header class="page-header">
        <a href="{{ page.url }}"><h1>{{ page.title }}</h1></a>
        <div class="subtitle">
            Posted by <a href="{{ site.author_url }}">{{ site.author }}</a> on {{ page.date | date: "%e %B %Y" }}
        </div>
    </header>

    {{ content }}

    <small class="post-footer">
    {% if page.code %}
    <a href="{{ site.code-base }}{{page.code}}" class="btn btn-info btn-sm pull-right">Source Code</a>
    {% endif %}
    {% if page.category %}
        Posted in <em>{{page.category}}</em>
    {% endif %}
    </small>
</article>
